* {
    user-select: none;
}

*{ scroll-behavior: smooth; }
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 0;
}
*::-webkit-scrollbar-thumb {
    background: #303a47;
}
*::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 1);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: #d1d5db;
    -webkit-box-shadow: none;
    caret-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

a.active {
    color: #da1105;
}

a.active:hover {
    color: #da1105;
}
a.active span {
    color: #da1105;
}

a.active span:hover {
    color: #da1105;
}

input.custom-input:-webkit-autofill {
    background-color: transparent;
}
input.custom-input:-webkit-autofill:hover {
    background-color: transparent;
}

.relative input{
    appearance: none;
}

.relative input::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 5px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.relative input[type="checkbox"]:checked::after{
    content: "\f00c";
    font-family: "FontAwesome", serif;
    position: absolute;
    cursor: pointer;
    left: -9px;
    top: 5px;
}
