* {
    user-select: none;
}

*{ scroll-behavior: smooth; }
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: #101012;
    border: none;
    border-radius: 0;
}
*::-webkit-scrollbar-thumb {
    background: #303a47;
}
*::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 1);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: #d1d5db;
    -webkit-box-shadow: none;
    caret-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

a.active {
    color: #da1105;
}

a.active:hover {
    color: #da1105;
}
a.active span {
    color: #da1105;
}

a.active span:hover {
    color: #da1105;
}

input.custom-input:-webkit-autofill {
    background-color: transparent;
}
input.custom-input:-webkit-autofill:hover {
    background-color: transparent;
}

.relative input{
    appearance: none;
}

.relative input::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 5px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.relative input[type="checkbox"]:checked::after{
    content: '\2714 \fe0e';
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    left: -10px;
    top: 5px;
}

.fade {
    opacity: 0;
    animation: fadeIn .5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.pulse {
    transform: scale(1);
    animation: pulse 1.5s infinite ease-in-out;
    -webkit-animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 0.6;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0.6;
    }
}