* {
    user-select: none;
}

*{ scroll-behavior: smooth; }
*::-webkit-scrollbar {
    width: 3px;
}
*::-webkit-scrollbar-track {
    background: #00000099;
    border: none;
    border-radius: 0;
}
*::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.5);
}
*::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.5);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: #d1d5db;
    -webkit-box-shadow: none;
    caret-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

nav a {
    font-weight: bold;
    /*text-shadow: 0.5px 0.5px 0px #ff3333, -0.5px -0.5px 0px #ff3333;*/
}

nav a.active {
    color: #ff0000;
    /*text-shadow: 0.5px 0.5px 0px #ff3333, -0.5px -0.5px 0px #ff3333;*/
}

nav a.active:hover{
    color: #ff0000;
}


input.custom-input:-webkit-autofill {
    background-color: transparent;
}
input.custom-input:-webkit-autofill:hover {
    background-color: transparent;
}

.game-card .relative input{
    appearance: none;
}

.game-card .relative input::before{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 5px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.game-card  .relative input[type="checkbox"]:checked::after{
    content: '\2714 \fe0e';
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    left: -10px;
    top: 5px;
}

.animate-fade-in {
    opacity: 0;
    animation: fadeIn .5s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.animate-slide-down{
    transform: translateY(-10%);
    opacity: 0;
    animation: slideDown .1s forwards ease;
}
@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-slide-down-slow{
    transform: translateY(-10%);
    opacity: 0;
    animation: slideDown .3s forwards ease;
}
@keyframes slideDownSlow {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animate-slide-right{
    transform: translateX(-100%);
    opacity: 0;
    animation: slideRight .3s forwards ease;
}
@keyframes slideRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.pulse {
    transform: scale(1);
    animation: pulse 1.5s infinite ease-in-out;
    -webkit-animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 0.6;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0.6;
    }
}

.spinner_P7sC{transform-origin:center;animation:spinner_svv2 1.2s infinite linear}@keyframes spinner_svv2{100%{transform:rotate(360deg)}}

@keyframes glow {
    10% {
        filter: drop-shadow(0px 0px 0px #f00) blur(1px);
    }

    30% {
        filter: drop-shadow(0px 0px 20px #f00);
    }
    70% {
        filter: drop-shadow(0px 0px 20px #f00);
    }

    90% {
        filter: drop-shadow(0px 0px 0px #f00) blur(1px);
    }
}

.animate-glow {
    animation: glow 10s infinite ease-in-out;
}

.fade30 {
    opacity: 0;
    animation: fadeIn30 .5s forwards;
}
@keyframes fadeIn30 {
    to {
        opacity: 0.3;
    }
}
